.car-icon {
    height: 40px;
    border-radius: 9999px;
}

.car-icon:hover {
    cursor:pointer;
}

@keyframes shake {
    0% {
      transform: translateX(0) scale(1);
    }
    20% {
      transform: translateX(-10px) scale(0.8);
    }
    40% {
      transform: translateX(10px) scale(0.6);
    }
    60% {
      transform: translateX(-10px) scale(0.4);
    }
    80% {
      transform: translateX(10px) scale(0.2);
    }
    100% {
        transform: translateX(0) scale(0);
      }
}

.shrink-shake {
    animation: shake 0.5s forwards; 
}